@page "/Tecnicos/Create"
@page "/Tecnicos/Create/{tecnicoId:int}"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>R_Tecnicos</h3>

@code {
    [Parameter]
    public int tecnicoId { get; set; }

    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    public void Nuevo()
    {
        Tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tecnicoEncontrado = await tecnicoService.Buscar(Tecnico.TecnicoId);

        if (tecnicoEncontrado != null)
            Tecnico = tecnicoEncontrado;
        else
            Nuevo();
    }

    public bool Validar()
    {
        Existe = (tecnicoService.Listar(te => 
            te.Nombres!.ToLower() == Tecnico.Nombres!.ToLower() && 
            te.TecnicoId != Tecnico.TecnicoId).Any());
        return Existe;
    }

    public async Task Guardar()
    {
        if (Validar())
        {
            return;
        }

        var guardo = await tecnicoService.Guardar(Tecnico);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoService.Eliminar(Tecnico.TecnicoId);
        Nuevo();
    }
}
