@page "/Tecnico/Create"

@inject TecnicoService tecnicoService
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager Navigation

@rendermode InteractiveServer

<PageTitle>T&eacute;cnico Create</PageTitle>
<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <Toasts class="p-3" Messages="Mensaje" Placement="ToastsPlacement.TopRight" />

    <div class="card shadow-lg">
        <div>
            @*Header*@
            <div class="card-header text-center">
                <h3><strong>Crear nuevo T&eacute;cnico</strong></h3>
            </div>

            @*Body*@
            <div class="card-body">
                <div>
                    @*ID*@
                    <label class="form-label">T&eacute;cnico Id</label>
                    <div class="col-md-5">
                        <InputNumber class="form-control" @bind-Value="Tecnico.TecnicoId"></InputNumber>
                    </div>
                </div>

                <div class="col-md-5">
                    @*Nombres*@
                    <label class="form-label">Nombres</label>
                    <InputText class="form-control" @bind-Value="Tecnico.Nombres"></InputText>
                    <ValidationMessage For="(()=> Tecnico.Nombres)" />
                </div>

                <div class="col-md-5">
                    @*SueldoHora*@
                    <label class="form-label">SueldoHora</label>
                    <InputNumber class="form-control" @bind-Value="Tecnico.SueldoHora"></InputNumber>
                    <ValidationMessage For="(()=> Tecnico.SueldoHora)" />
                </div>

                <div class="col-md-5">
                    <label class="form-label">Tipo de T&eacute;cnico</label>
                    <div>
                        <div class="row">
                            <div class="input-group">
                                <InputSelect @bind-Value="Tecnico.idTipo" class="form-control">
                                    <option value="0">Seleccione el Tipo de T&eacute;cnico</option>
                                    @foreach (var item in ListTipos)
                                    {
                                        <option value="@item.TipoId">@item.Descripcion</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer">
                <button type="button" class="btn btn-volver bi bi-arrow-return-left" @onclick="Volver"> Volver</button>
                <button type="submit" class="btn btn-crear bi bi-clipboard-plus"> Crear</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    public List<TiposTecnicos> ListTipos { get; set; } = new List<TiposTecnicos>();
    private bool Existe = false;
    List<ToastMessage> Mensaje = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        ListTipos = await tiposTecnicosService.Listar(t => true);
    }

    private void MostrarMensaje(ToastType toastType, string mensaje)
    {
        Mensaje.Add(CreateToastMessage(toastType, mensaje));
    }

    private ToastMessage CreateToastMessage(ToastType toastType, string mensaje)
    => new ToastMessage
        {
            Type = toastType,
            Title = "Notificación",
            HelpText = $"{DateTime.Now}",
            Message = mensaje,
        };

    public void Nuevo()
    {
        Tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Guardar()
    {
        if (!await Validar())
        {
            MostrarMensaje(ToastType.Warning, $"Ya existe un técnico llamado {Tecnico.Nombres}");
            return;
        }

        var guardo = await tecnicoService.Guardar(Tecnico);
        if (guardo)
        {
            MostrarMensaje(ToastType.Success, $"El técnico {Tecnico.Nombres} se ha creado correctamente");
            Nuevo();
        }
        else
            MostrarMensaje(ToastType.Danger, "Se ha producido un error");
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoService.Eliminar(Tecnico.TecnicoId);
        Nuevo();
    }

    public async Task<bool> Validar()
    {
        Existe = await tecnicoService.Existe(Tecnico.TecnicoId, Tecnico.Nombres);
        return !Existe;
    }

    public void Volver()
    {
        Navigation.NavigateTo("/Tecnico/Index");
    }
}