@page "/Tecnico/Delete/{TecnicoId:int}"

@inject TecnicoService tecnicoService
@inject NavigationManager Navigation

@rendermode InteractiveServer

@if (tecnico != null)
{
    <div class="container card shadow-lg">
        <div class="shadow-header">
            @*Header*@
            <div class="card-header text-center">
                <h3><strong>Eliminar T&eacute;cnico</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Est&aacute;s seguro de que quieres eliminar este T&eacute;cnico?</h3>
            </div>

            @*Body*@
            <div class="container">
                <div class="row">
                    <div class="col-md-14">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Datos del T&eacute;cnico</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-unstyled">
                                            <li><strong>T&eacute;cnico Id:</strong> @tecnico.TecnicoId</li>
                                            <li><strong>Nombres:</strong> @tecnico.Nombres</li>
                                            <li><strong>SueldoHora:</strong> @tecnico.SueldoHora</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Footer*@
            <div class="card-footer">
                <button type="button" class="btn btn-volver bi bi-arrow-return-left" @onclick="Volver"> Volver</button>
                <button type="button" class="btn btn-eliminar bi bi-trash" @onclick="EliminarTecnico"> Eliminar</button>
            </div>
        </div>
    </div>
}
else
{
    <p>T&ecirc;cnico no encontrado.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            tecnico = await tecnicoService.Buscar(TecnicoId);
        }
    }

    public async Task EliminarTecnico()
    {
        if (TecnicoId == 0 || tecnico == null)
        {
            return;
        }

        if (await tecnicoService.Eliminar(TecnicoId))
        {
            Volver();
        }
    }

    public void Volver()
    {
        Navigation.NavigateTo("/Tecnico/IndexTec");
    }
}
