@page "/Tecnico/Index"

@inject TecnicoService tecnicoService
@inject NavigationManager Navigation

@rendermode InteractiveServer

<PageTitle>T&eacute;cnico Index</PageTitle>
<div class="card shadow-lg">
    <div>
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de T&eacute;cnicos</strong></h3>
            <div class="text-end">
                <button type="button" class="btn btn-crear bi bi-clipboard-plus" @onclick="Crear"> Crear</button>
            </div>
        </div>

        @*Body*@
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>T&eacute;cnicoId</th>
                        <th>Nombres</th>
                        <th>SueldoHora</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tecnicos in Tecnico)
                    {
                        <tr>
                            <td>@tecnicos.TecnicoId</td>
                            <td>@tecnicos.Nombres</td>
                            <td>@tecnicos.SueldoHora</td>
                            <td><button type="button" class="btn btn-ver bi bi-eye" @onclick="()=>Detalle(tecnicos.TecnicoId)"></button></td>
                            <td><button type="button" class="btn btn-editar bi bi-pencil" @onclick="()=>Editar(tecnicos.TecnicoId)"></button></td>
                            <td><button type="button" class="btn btn-eliminar bi bi-trash" @onclick="()=>Eliminar(tecnicos.TecnicoId)"></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de t&eacute;cnicos: @Tecnico.Count()</strong></p>
        </div>
    </div>
</div>

@code {
    public List<Tecnicos> Tecnico = new List<Tecnicos>();

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Listar(t => true);
    }

    public void Crear()
    {
        Navigation.NavigateTo("/Tecnico/Create");
    }

    public void Editar(int id)
    {
        Navigation.NavigateTo($"/Tecnico/Edit/{id}");
    }

    public void Detalle(int id)
    {
        Navigation.NavigateTo($"/Tecnico/Detail/{id}");
    }

    public void Eliminar(int id)
    {
        Navigation.NavigateTo($"/Tecnico/Delete/{id}");
    }
}
